@{
    ViewData["Title"] = "Confirmação apagar contato";
}

<br />
<div class="text-center">
    <h3>Deseja realmente apagar o contato (Eliel Cintra)?</h3>
</div>
<br />
<a class="btn btn-danger w-100" role="button">Confirmar</a>
<a class="btn btn-primary w-100" role="button" asp-controller="Contato" asp-action="Index">Cancelar</a>