@{
    ViewData["Title"] = "Editar contato";
}

<div class="text-center">
    <br />
    <h1 class="display-4">Editar contato</h1>
    <br />
</div>

<form>

    <div class="mb-3">
        <label for="Nome" class="form-label">Nome</label>
        <input type="text" class="form-control" placeholder="Digite o nome do contato">
    </div>

    <div class="mb-3">
        <label for="Email" class="form-label">Email</label>
        <input type="text" class="form-control" placeholder="Digite o email do contato">
    </div>

    <div class="mb-3">
        <label for="Celular" class="form-label">Celular</label>
        <input type="text" class="form-control" placeholder="Digite o celular do contato">
    </div>

    <br />

    <button type="submit" class="btn btn-primary w-100 mb-2">Alterar</button>
    <a class="btn btn-secondary w-100" asp-controller="Contato" asp-action="Index" role="button">Voltar</a>
</form>